<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.buyedu.dao.edu.EduDao">
	
	<resultMap id="eduSelectMap"		type="Edu">
		<result property="academy.academyCode"	column="edu_academy_code"	jdbcType="VARCHAR"/>
		<result property="user.userNo" 		column="user_no"		jdbcType="NUMERIC"/>
		<result property="eduNo"	 		column="edu_no"			jdbcType="NUMERIC"/>
		<result property="eduPrice"			column="edu_price"		jdbcType="NUMERIC" />
		<result property="eduMember" 		column="edu_member"		jdbcType="NUMERIC" />
		<result property="eduRest"	 		column="edu_rest" 		jdbcType="NUMERIC" />
		<result property="eduName" 			column="edu_name"		jdbcType="VARCHAR" />
		<result property="eduTeacher"		column="edu_teacher"	jdbcType="VARCHAR" />
		<result property="eduIntro"		 	column="edu_intro"	 	jdbcType="VARCHAR" />
		<result property="eduStartDate"		column="edu_start_date"	jdbcType="DATE" />
		<result property="eduEndDate" 		column="edu_end_date" 	jdbcType="DATE" />
		<result property="eduStartTime"		column="edu_start_time"	jdbcType="VARCHAR" />
		<result property="eduEndTime" 		column="edu_end_time" 	jdbcType="VARCHAR" />
		<result property="eduState" 		column="edu_state"	 	jdbcType="CHAR" />
		<result property="eduDay"	 		column="edu_day"	 	jdbcType="VARCHAR" />
		<result property="eduGrade" 		column="edu_grade"	 	jdbcType="VARCHAR" />
		<result property="eduSubject" 		column="edu_subject" 	jdbcType="VARCHAR" />
		<result property="eduDate"			column="edu_date"		jdbcType="VARCHAR" />
		<result property="academy.academyName"	column="edu_academy_name"	jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- buyEdu : INSERT -->
	<insert 	id="addEdu"	parameterType="Edu" useGeneratedKeys="true" keyColumn="edu_no" keyProperty="eduNo">
		INSERT
		INTO Edu
		( edu_no, edu_academy_code, edu_user_no, edu_day, edu_name, edu_price, edu_teacher, edu_member, edu_intro,
		  edu_start_date, edu_end_date, edu_start_time, edu_end_time, edu_rest, edu_state, edu_grade, edu_subject, edu_academy_name , edu_date) 
		VALUES ( SEQ_EDU_EDU_NO.nextval , #{academy.academyCode} , #{user.userNo} , #{eduDay} , #{eduName} , 
		#{eduPrice} , #{eduTeacher} , #{eduMember} , #{eduIntro}, #{eduStartDate}, #{eduEndDate}, #{eduStartTime}, 
		#{eduEndTime}, #{eduRest}, #{eduState}, #{eduGrade}, #{eduSubject}, #{academy.academyName} , SYSDATE  )
	</insert>
	
	<!-- SQL : SELECT ONE -->
	 <select 	id="getEdu"	parameterType="String"	resultMap="eduSelectMap">
		SELECT
		edu_no, edu_academy_code, edu_user_no, edu_day, edu_name, edu_price, edu_teacher, edu_member, edu_intro,
		edu_start_date, edu_end_date, edu_start_time, edu_end_time, edu_rest, edu_state, edu_grade, edu_subject, edu_date
		FROM edu
		WHERE edu_no = '${value}'
	 </select>
	 
	 <update	id="updateEdu"	parameterType="Edu" useGeneratedKeys="true" keyColumn="edu_no" keyProperty="eduNo">
	   	UPDATE edu
	   	<set>
	   		edu_day		= #{eduDay} ,
	   		edu_name 	= #{eduName} ,
			edu_price	= #{eduPrice} ,
			edu_teacher	= #{eduTeacher} ,
			edu_member	= #{eduMember} ,
			edu_intro	= #{eduIntro} ,
			edu_start_date = #{eduStartDate} ,
			edu_end_date = #{eduEndDate} ,
			edu_start_time = #{eduStartTime} ,
			edu_end_time = #{eduEndTime} ,
			edu_state	= #{eduState} ,
			edu_grade	= #{eduGrade} ,
			edu_subject	= #{eduSubject} ,
			edu_rest 	= #{eduMember} ,
	   	</set>
	   	WHERE edu_no = #{eduNo}
	 </update>
	 
	 <update	id="updateEduRest"	parameterType="Edu" useGeneratedKeys="true" keyColumn="edu_no" keyProperty="eduNo">
	   	UPDATE edu
	   	<set>
			edu_rest 	= #{eduRest} ,
			edu_state	= #{eduState} ,
	   	</set>
	   	WHERE edu_no = #{eduNo}
	 </update>
	 
	 <select  id="getEduList"  parameterType="Search"	resultMap="eduSelectMap">
	  	SELECT distinct *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT e.edu_academy_name , e.edu_no, e.edu_name, e.edu_start_date , e.edu_price, e.edu_state, e.edu_rest
										FROM edu e
										WHERE e.edu_academy_code = #{searchAcademyCode}
										<if test="searchCondition != null">
												<if test="searchCondition == 0 and searchKeyword !='' and searchEduState != null">
													AND edu_state = #{searchEduState} and edu_name LIKE '%${searchKeyword}%'
												</if>
												<if test="searchCondition == 0 and searchKeyword !='' and searchEduState == null">
													AND edu_name LIKE '%${searchKeyword}%'
												</if>
												<if test="searchCondition == 1 and searchKeyword !='' and searchEduState != null">
									 				AND edu_state = #{searchEduState} and edu_price LIKE '%${searchKeyword}%'
												</if>
												<if test="searchCondition == 1 and searchKeyword !='' and searchEduState == null">
									 				AND edu_price LIKE '%${searchKeyword}%'
												</if>
												
												<if test="searchEduState != null">
													AND edu_state = #{searchEduState}
												</if>
										</if>
										ORDER BY edu_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	 </select>
	 
	 <select  id="getEduTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM( SELECT edu_name, edu_price 
	  								FROM edu
	  								WHERE edu_academy_code = #{searchAcademyCode}
	  									<if test="searchCondition != null">
												<if test="searchCondition == 0 and searchKeyword !='' and searchEduState != null">
													AND edu_state = #{searchEduState} and edu_name LIKE '%${searchKeyword}%'
												</if>
												<if test="searchCondition == 0 and searchKeyword !='' and searchEduState == null">
													AND edu_name LIKE '%${searchKeyword}%'
												</if>
												<if test="searchCondition == 1 and searchKeyword !='' and searchEduState != null">
									 				AND edu_state = #{searchEduState} and edu_price LIKE '%${searchKeyword}%'
												</if>
												<if test="searchCondition == 1 and searchKeyword !='' and searchEduState == null">
									 				AND edu_price LIKE '%${searchKeyword}%'
												</if>
												
												<if test="searchEduState != null">
													AND edu_state = #{searchEduState}
												</if>
										</if>
										)
	 </select>
	 
	 <delete	id="deleteEdu"	parameterType="int" >
	   	DELETE from edu
	   	WHERE edu_no = '${value}'
	 </delete>

</mapper>