<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.buyedu.dao.purchaseedu.PurchaseEduDao">
	
	<resultMap id="purchaseEduSelectMap"	type="purchaseEdu">
		<result property="buyer.userNo"	column="purchase_user_no"	jdbcType="NUMERIC"/>
		<result property="purchaseEdu.eduNo"	column="purchase_edu_no"	jdbcType="NUMERIC"/>
		<result property="purchaseAcademy.academyCode"	column="purchase_aca_code"	jdbcType="VARCHAR"/>
		<result property="payNo"		column="pay_no"  jdbcType="NUMERIC"/>
		<result property="payState"		column="pay_state"	  jdbcType="CHAR"/>
		<result property="payDate"		column="pay_date"	  jdbcType="DATE"/>
		<result property="purchaseUid"	column="purchase_uid" jdbcType="VARCHAR"/>
		
		<result property="purchaseAcademy.academyName"	column="academy_name"	jdbcType="VARCHAR"/>
		<result property="purchaseEdu.eduNo"	column="edu_no"		jdbcType="NUMERIC"/>
		<result property="purchaseEdu.eduName"	column="edu_name"	jdbcType="VARCHAR"/>
		<result property="purchaseEdu.eduStartDate"	column="edu_start_date" jdbcType="VARCHAR"/>
		<result property="purchaseEdu.eduPrice"	column="edu_price" jdbcType="NUMERIC"/>
		<result property="buyer.userNo"	column="user_no"	jdbcType="NUMERIC"/>
		<result property="buyer.name"	column="name"	jdbcType="VARCHAR"/>
		<result property="buyer.phone"	column="phone"	jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- buyEdu : PurchaseEdu INSERT -->
	<insert 	id="addPurchaseEdu"	parameterType="PurchaseEdu" >
		INSERT
		INTO purchase_edu( pay_no , purchase_user_no , purchase_edu_no , pay_state , pay_date , purchase_uid, purchase_aca_code )
		VALUES( seq_purchase_edu_pay_no.nextval, ${buyer.userNo}, ${purchaseEdu.eduNo},
				'${payState}', SYSDATE, '${purchaseUid}', '${purchaseAcademy.academyCode}' )
	</insert>
	
	
	<!--  buyEdu : Purchase Edu GET -->
	<select 	id="getPurchaseEdu"	parameterType="String"	resultMap="purchaseEduSelectMap">
		SELECT
		purchase_uid, purchase_user_no, purchase_edu_no, pay_date, pay_state, pay_no, purchase_aca_code
		FROM purchase_edu
		WHERE purchase_uid = '${value}'
	</select>
	
	<!--  buyEdu : Purchase Edu UPDATE -->
 	<update	id="updatePurchaseEdu"	parameterType="purchaseedu" >
	   	UPDATE purchase_edu
	   	<set>
	   	 	pay_state = #{payState}
	   	</set>
	   	WHERE purchase_uid = #{purchaseUid}
	 </update>
	 
	 <!--  buyEdu : GET Purchase Edu List -->
	 <select 	id="getPurchaseEduList"	parameterType="search"	resultMap="purchaseEduSelectMap">
		SELECT distinct *
	  		FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  				FROM	( SELECT pc.purchase_aca_code, u.user_no, e.edu_no , a.academy_name , e.edu_name , e.edu_start_date , e.edu_price , 
	  								 pc.pay_date , e.edu_state , pc.pay_state
						  		FROM edu e, academy a, users u, purchase_edu pc WHERE pc.purchase_user_no = u.user_no AND
							  	e.edu_academy_code = a.academy_code AND purchase_edu_no = e.edu_no ORDER BY edu_no ) inner_table
					WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<!--  buyEdu : GET Purchase Academy List -->
	<select 	id="getPurchaseAcademyList"	parameterType="search"	resultMap="purchaseEduSelectMap">
		SELECT distinct *
	  		FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  				FROM	( SELECT e.edu_no , e.edu_name , u.name , u.phone , pc.pay_date , e.edu_price , pc.pay_state
						  		FROM edu e, academy a, users u, purchase_edu pc 
						  		WHERE pc.purchase_user_no = u.user_no AND pc.purchase_aca_code = #{searchAcademyCode} AND 
							  	e.edu_academy_code = a.academy_code AND purchase_edu_no = e.edu_no ORDER BY edu_no ) inner_table
					WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
		
	<select  id="getPurchaseEduTotalCount"  parameterType="search"	 resultType="int">
  	SELECT COUNT(*)
  		FROM( SELECT pc.purchase_aca_code, a.academy_name , e.edu_name , e.edu_start_date , e.edu_price , pc.pay_date , e.edu_state
						  FROM edu e, academy a, users u, purchase_edu pc WHERE pc.purchase_user_no = u.user_no AND
						  e.edu_academy_code = a.academy_code AND purchase_edu_no = e.edu_no )
	</select>
	
	<select  id="getPurchaseAcademyTotalCount"  parameterType="search"	 resultType="int">
  	SELECT COUNT(*)
  		FROM( SELECT pc.purchase_aca_code, a.academy_name , e.edu_name , e.edu_start_date , e.edu_price , pc.pay_date , e.edu_state
						  FROM edu e, academy a, users u, purchase_edu pc 
						  WHERE pc.purchase_user_no = u.user_no AND pc.purchase_aca_code = #{searchAcademyCode} AND
						  e.edu_academy_code = a.academy_code AND purchase_edu_no = e.edu_no )
	</select>
		
	 

</mapper>